<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="static/assets/css/style.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/assets/js/app.js"></script>


<!-- char-area -->
<section class="message-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="chat-area">


                    <!-- chatbox -->
                    <div class="chatbox">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="msg-head">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="d-flex align-items-center">
                                                <span class="chat-icon"><img class="img-fluid"
                                                        src="https://mehedihtml.com/chatbox/assets/img/arroleftt.svg"
                                                        alt="image title"></span>
                                                <div class="flex-shrink-0">
                                                    <img class="img-fluid" src="static/assets/img/robot.png"
                                                        alt="user img" height="80" width="80">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h3>Pawn GPT</h3>
                                                    <p>Robot</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <ul class="moreoption">
                                                <li class="navbar nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" role="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false"><i
                                                            class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li><a class="dropdown-item" href="#">Something else here</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal-body">
                                    <div class="msg-body">
                                        <ul>

                                        </ul>
                                    </div>
                                </div>


                                <div class="send-box">
                                    <form>
                                        <input id="message_box" type="text" class="form-control" aria-label="message…"
                                            placeholder="Write message…">

                                        <button id="send_btn" type="button"><i class="fa fa-paper-plane"
                                                aria-hidden="true"></i>
                                            Send</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chatbox -->


            </div>
        </div>
    </div>
    </div>
</section>
<!-- char-area -->